@import '../../../../styles/scss/shared.scss';

.wrapper {
  display: grid;
  place-items: center;
  color: #666;
  height: calc(100vh - 10rem);
}

.title {
  font-family: 'Source serif pro', 'Times New Roman', Times, serif;
  font-weight: 800;
  text-align: center;
  font-size: 18vw;
  color: #000000;
  line-height: 100%;
  @include md {
    font-size: 7rem;
  }

  @include xl {
    font-size: 8rem;
  }
}
