@import './theme.scss';

.baseContainer {
  max-width: 1600px;
  margin: auto;
  padding: 0rem 1rem;
  @include md {
    padding: 0rem 1.5rem;
  }
}

.baseTitle {
  font-size: 3rem;
  @include md {
    font-size: 4rem;
  }
  text-align: center;
  font-weight: 700;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.basePage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #fff;
  padding-top: 5rem;
}
